<table border="1" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td></td>
      @for(cell of data[0]; track cell){
      <td>{{ $index }}</td>
      }
    </tr>
    @for(row of data; track row; let ri = $index){
    <tr>
      <td>{{ ri }}</td>
      @for(cell of row; track cell; let ci = $index){
      <td
        class="item"
        [ngClass]="{ focused: isFocused(cell.id) }"
        [id]="cell.id"
        (mouseenter)="focus(cell)"
        (click)="kick()"
      >
        {{ cell.value }}
      </td>
      }
    </tr>
    }
  </tbody>
</table>
<hr />
<pre>{{ focused | json }}</pre>
