body {
  background-color: rgb(185, 139, 198);
  table {
    border-color: rgb(39, 160, 160);
    border: 2;
    .item {
      vertical-align: middle;
      text-align: center;
      font-size: xx-large;
      background-color: aqua;
      &.focused {
        background-color: hotpink;
      }
    }
  }
}
